.cardShadow {
  box-shadow: 0px 0px 30px rgb(163, 160, 150);
}

.route:hover {
  cursor: pointer;
  color: rgb(163, 160, 150);
}

.mainDiv {
  background-image: url("../../assets/homebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.socialLink:hover {
  background-color: rgb(163, 160, 150);
}